.btn-primary {
  background-color: $orange;
  padding: 1 * $u 3 * $u;
  border: 0;
  border-radius: 4px;
}

.btn-secondary {
  background-color: $grey;
  padding: 1 * $u 3 * $u;
  border: 0;
  border-radius: 4px;
}
